<div class="page-container">

    <div class="sidebar-menu">
        <div class="sidebar-menu-inner">
            <header class="logo-env">
                <div class="logo"> 
                    <a routerLink="home" routerLinkActive="router-link-active" >E-INVOICE</a>
                </div>
                <div class="sidebar-collapse"> <a href="#" class="sidebar-collapse-icon"> <i class="entypo-menu"></i>
                    </a> </div>
                <div class="sidebar-mobile-menu visible-xs">
                     <a href="#" class="with-animation">
                         <i class="entypo-menu"></i> </a> 
                </div>
            </header>
            
            <ul id="main-menu" class="main-menu">
                <li class="has-sub"> <a><i class="entypo-gauge"></i><span
                            class="title">Dashboard</span></a>
                    <ul>
                        <li> <a href="dashboard/main/index.html"><span class="title">Analytics</span></a> </li>
                    </ul>
                </li>
                <li class="has-sub"> <a href="layouts/layout-api/index.html"><i class="entypo-layout"></i><span
                            class="title">Tools</span></a>
                    <ul>
                        <li> <a href="layouts/layout-api/index.html"><span class="title">Layout API</span></a> </li>
                        <li> 
                            <a href="layouts/collapsed-sidebar/index.html"><span class="title">Collapsed
                                    Sidebar</span>
                            </a> 
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- <app-sidebar></app-sidebar> -->

    <div class="main-content">
       
        <app-header></app-header>

        <router-outlet></router-outlet>

        <!-- <footer class="main">
            <div class="pull-right">
                <a href="#" target="_blank">
                    <strong></strong>
                </a>
            </div>

            &copy; 2023 <strong></strong>  <a href="#"
                target="_blank"></a>
        </footer> -->
    </div>

</div>
